{% extends "base.html" %}
{% block title%} About Ed Mir {% endblock %}
{% block content%}
    <h1>About me</h1>
    <img src="img/me.jpeg" class="rounded float-start" alt="Ed Mir" height="400px" width="400px">
    <p>Hi, my name is Ed Mir. Fully, Eduard Mirniy. I'm a web developer, data scientist, and DevOps enthusiast and novice IT professional. I like to write, play Magic: The Gathering, and keep up with the most recent advances in the IT industry in my spare time. For example this site was build in my free time.</p>
    <p>Links to my social pages</p>
    <a href="https://twitter.com/canonnist">Twitter</a>
    <a href="https://www.instagram.com/redpandazlolz/">Instagram</a>
    <a href="https://medium.com/@edmir">Medium</a>
    <a href="https://github.com/EdM1r">Git Hub</a>

    <p>Contact me</p>
    <a href="mailto:hiedmir@gmail.com">Send Email</a>
    <a href="https://t.me/edm1r">Telegram</a>

    <p>Latest Projects</p>
    <a href="https://github.com/EdM1r/EdMirSite">This site repo at GitHub</a>

{% endblock %}
