{% extends "base.html" %}
{% block title%} About Ed Mir {% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>About me</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p>Hi, my name is Ed Mir. Fully, Eduard Mirniy. I'm a web development enthusiast and novice IT professional. I like to write, play Magic: The Gathering, and keep up with the most recent advances in the IT industry in my spare time. For example this site was build in my free time.</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="{{my_photo}}" class="rounded float-start" alt="Ed Mir" height="400px" width="400px">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Links to my social pages</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p><a href="https://twitter.com/canonnist">Twitter</a></p>
            <p><a href="https://www.instagram.com/redpandazlolz/">Instagram</a></p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p><a href="https://medium.com/@edmir">Medium</a></p>
            <p><a href="https://github.com/EdM1r">Git Hub</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Contact me</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p><a href="mailto:hiedmir@gmail.com">Send Email</a></p>
            <p><a href="https://t.me/edm1r">Telegram</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Latest Projects</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p><a href="https://github.com/EdM1r/EdMirSite">This site repo at GitHub</a></p>
        </div>
    </div>
</div>

{% endblock %}

