{% extends "base.html" %}
{% block title%} Ed Mir's Site {% endblock %}
{% block content%}
    <h2>Latest Twitter Posts</h2>
    {% for tweet in tweets %}
        <p>{{tweet.text}} <a href="https://twitter.com/canonnist/status/{{tweet.id}}">Learn More</a></p>
    {% endfor %}
    <h2>Latest Instagram Posts</h2>
    {% for post in posts_ig %}
        <a href="{{post['permalink']}}"><img src="{{post['media_url']}}" class="rounded float-start" alt="Image" height="400px" width="400px"></a>
    {% endfor %}
    <h2>Best Articles from Medium</h2>
    {% for post in medium_posts %}
    <h4>{{post['title']}}</h4>
    <p>{{post['subtitle']}}</p>
    <a href="{{post['url']}}">Read on Medium</a>
    {% endfor %}
{% endblock %}
